{% extends "base.html" %}

{% block content %}
    <div class="product-grid">
        {% for product in products %}
            <div class="product-item">
                <img src="{{ product.image_url }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>${{ product.price }}</p>
                <a href="{{ url_for('show_product', product_id=product.product_id) }}" class="btn btn-outline-dark mt-auto">View Details</a>
                <div class="text-center mt-2">
                    <a href="{{ url_for('add_to_cart', product_id=product.product_id) }}" class="cart-icon-link">
                    <i class="bi bi-cart" style="font-size: 1.5em;"></i>
                    <a href="{{ url_for('add_to_wishlist', product_id=product.product_id) }}" class="wishlist-icon-link">
                    <i class="bi bi-heart" style="font-size: 1.5em;"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}