{% extends "base.html" %}

{% block content %}
<!-- "View Reports" Section -->
<div class="container-fluid px-4 mt-5">
    <h1 class="mt-4">Reports</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ url_for('admin_dashboard') }}">Dashboard</a></li>
        <li class="breadcrumb-item active">Reports</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            Chart.js is used to generate the charts below. For further customization, refer to the
            <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                <div class="card-footer small text-muted">Updated just now</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Pie Chart Example
                </div>
                <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                <div class="card-footer small text-muted">Updated just now</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}